@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Variables */
:root {
    --grid-container-max-width: 1200px;
    /* Max width for the container */
    --grid-container-padding: 32px;
    /* Padding on left/right */
}

/* Reset CSS */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  */

/* Grid Container */
.grid-container {
    max-width: var(--grid-container-max-width);
    padding-left: calc(var(--grid-container-padding) / 2);
    padding-right: calc(var(--grid-container-padding) / 2);
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}

@media screen and (min-width: 40em) {
    .grid-container {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
}

@media (min-width: 1400px) {
    .grid-container {
        max-width: 1400px;
    }
}

.container {
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.header {
    background: #190422;
}


.acceuil {
    background: #190422;
    padding: 25px 0px 200px 0;
}

.header .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.header .logo svg {
    height: 64px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.navbar .connect {
    padding: 30px 10px;
}

.link_container {
    padding: 40px 30px;
}

.link_container .links {
    margin: 0 30px;
    text-decoration: none;
    color: #fff;
}

.header_content .navbar .connect button {
    font-size: 22px;
    font-weight: 500;
    border: none;
    background-color: #d9bbff;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 0;
    cursor: pointer;
    color: #000000;
}

.acceuil .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.acceuil .content .box {
    grid-column-end: span 6;
    padding-top: 60px;
}

.acceuil .content .box .box1 .gras {
    color: #fff;
    font-size: 80px;
    font-weight: 600;
}

.acceuil .content .box .box1 .infos {
    color: #fff;
    font-size: 20px;
}

.acceuil .content .box .box1 .btn button {
    background-color: #d9bbff;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.acceuil .content .box .box1 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    justify-content: center;
}

.acceuil .content .box .image1 {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.acceuil .content .box .image1 img {
    width: 90%;
    height: 100%;
    display: block;

}

#sidebar_active {
    display: none;
}

.open_sidebar_btn {
    padding: 0 20px;
    display: none;
}

.details {
    
    margin-top: -80px;
}

.details .box2 {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 80px;
    row-gap: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    padding: 40px 100px;
    flex-wrap: wrap;
}
.details .box2 .element{
    text-align: center;
}
.details .box2 .element .number{
    font-size: 48px;
    font-weight: 600;
}
.details .box2 .element .number .plus{
    color: #BC8AFC;
}
.details .box2 .element .nom{
    font-size: 20px;
}


.objectif{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    /* padding: 180px 0; */
    margin: 150px 0;
    column-gap: 10px;
    row-gap: 40px;
}

.objectif .box {
    grid-column-end: span 6 ;
    gap: 20px;
    position: relative;
}

.objectif .box .box1 .gras{
    font-size: 48px;
    font-weight: 600;
}
.objectif .box .box1 .infos{
    font-size: 20px;
}
.objectif .box .box1 .btn button {
    background-color: #d9bbff;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.objectif .box .box1 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    justify-content: center;
}

.objectif .box .image2 img {
    
    display: block;
    margin: 0;
    /* padding: 50px 80px; */
}
.objectif .box .circle{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: 4px solid #BC8AFC;
    color: #E98FD0;
    
    animation: bounceIn 2s ease-in-out infinite 0.5s;
}

.objectif .box .circle:nth-child(1){
    left: -12%;
    top: 5%;
    position: absolute;
}
.objectif .box .circle:nth-child(2){
    left: 27%;
    top: -15%;
    position: absolute;
    animation-delay: 1s;
}
.objectif .box .circle:nth-child(3){
    right: 25%;
    top: -5%;
    position: absolute;
    animation-delay: 1.5s;
}
.objectif .box .circle:nth-child(4){
    right: 28%;
    top: 50%;
    position: absolute;
    animation-delay: 2s;
}
.objectif .box .circle:nth-child(5){
    right: 35%;
    top: 92%;
    position: absolute;
    animation-delay: 2.5s;
}
.objectif .box .circle:nth-child(6){
    left: -9%;
    top: 70%;
    position: absolute;
    animation-delay: 3s;
}
.objectif .box .circle:nth-child(7){
    left: -5%;
    top: 108%;
    position: absolute;
    animation-delay: 3.5s;
}
@media screen and (max-width: 769px) {

    .acceuil .content .box .image1 {

        text-align: center;
        
    }
    .navbar {
        display: none;
    }

    .open_sidebar_btn {
        display: block;
    }

    .acceuil .header .logo svg {
        height: 40px;
    }

    .acceuil .content .box .box1 .gras {
        font-size: 48px;
        font-weight: 600;
    }

    .acceuil .content .box .box1 .infos {
        font-size: 20px;
    }

    .acceuil .content .box .box1 .btn button {
        font-size: 16px;
    }

    .acceuil .content .box .image1 img {
        height: 320px;
    }
    .objectif .box .box1 .gras{
        font-size: 30px;
        font-weight: 600;
    }
    .objectif .box .image2 {

        text-align: center;
        /* padding: 50px 10px; */
        
    }
    .objectif{
        column-gap: 10px;
        row-gap: 100px;
        /* margin: 100px 0;
        padding: 0; */
    }
    .objectif .box .image2 img{
      width: 75%;
      margin: 0 auto;
    }
    .objectif .box .box1 .infos {
        font-size: 15px;
    }

    .objectif .box .box1 .btn button {
        font-size: 16px;
    } 
    .objectif .box{
        grid-column-end: span 12 ;
    }
    
    .objectif .box .circle{
        height: 10px;
        width: 10px;
        border-radius: 100%;
        border: 4px solid #BC8AFC;
        color: #E98FD0;
    }
    
    .objectif .box .circle:nth-child(1){
        left: 1%;
        top: 5%;
        position: absolute;
    }
    .objectif .box .circle:nth-child(2){
        left: 47%;
        top: -12%;
        position: absolute;
    }
    .objectif .box .circle:nth-child(3){
        right: 4%;
        top: -5%;
        position: absolute;
    }
    .objectif .box .circle:nth-child(4){
        right: 5%;
        top: 55%;
        position: absolute;
    }
    .objectif .box .circle:nth-child(5){
        right: 9%;
        top: 92%;
        position: absolute;
    }
    .objectif .box .circle:nth-child(6){
        left: 2%;
        top: 73%;
        position: absolute;
    }
    .objectif .box .circle:nth-child(7){
        left: 8%;
        top: 110%;
        position: absolute;
    }
}

@media screen and (max-width: 475px) {
    .acceuil .content .box {
        grid-column-end: span 12;
    }
    .acceuil .content{
        column-gap: 10px;
    }
    .objectif .box .circle{
        height: 5px;
        width: 5px;
        border-radius: 100%;
        border: 3px solid #BC8AFC;
        color: #E98FD0;
    }
    
}
@keyframes bounceIn {
	0% {
    transform: translateY(0);
    opacity: 1;
  }
	50% {
    transform: translateY(-30px);
  }
	100% {
    transform: translateY(0);
  }
}